:root {
    --column-row-count: ;
    --column-size: ;
}
body {
    border: 2px solid rgb(255, 255, 255);
    margin: 0px;
    /* margin: auto; */
    /* height: 100vh; */
    /* max-height: fit-content; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    min-width: 706px;
}



.preferences {
    /* border: blue 2px solid; */
    width: 706px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;

    .dimension {
        margin: 0%;
        background-color: rgb(27, 204, 122);
        height: fit-content;
        color: red;
        padding-inline: 3px;
    }
}

#grid-container {
    background-color: #6b2020;
    padding: 0px;
    width: 706px;
    height: 706px;
    border: 2px solid #d505f5;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;

    .grid {
        /* width: var(--column-size);
        height: var(--row-size); */
        /* border: 1px solid rgb(13, 0, 255); */
        background-color: #ffffff;
        aspect-ratio: 1;
        /* border-radius: 8px; */
    }
}

.warning {
    background-color: rgb(255, 0, 0);
    /* width: 100px;
    height: 100px; */
    position: absolute;
    top: 50%;
    left: 5%;
}