body {
    background-image: url('./assets/modern-monitor-elegant-table (1).jpg');
    height: 100vh;
    /* width: 100vw; */
    min-width: 1000px;
    max-width: 1000px;
    /* border: 2px solid rgb(10, 60, 239); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0%;
    position: relative;
    overflow: hidden;
    

    .restart{
        position: absolute;
        left: 43.5vw;
        bottom: 3vh;
        padding-block: 5px;
        padding-inline: 10px;
        border-radius: 10px;
        display: none;
        color: #ffffff;
        /* z-index: 1; */
        font-size: 24px;
    }
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 55%;
    width: 82%;
    /* color: aliceblue; */
    /* border: 2px solid pink; */
    /* margin: auto;
    margin-top: 150px; */
    position: absolute;
    left: 35%;
    top: 90px;

}

main {
    /* border: 2px solid rgb(157, 36, 57); */
    display: flex;
    justify-self: center;
    justify-content: space-between;
    /* align-items: center; */
    margin: 0%;


    .scoreLine {
        /* border: 2px solid red; */
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 50px;
        font-weight: bolder;
        color: #00ade6;

        :nth-child(2) {
            margin-inline: 4px;
        }
    }

    img.signs{
        display: none;
        height: 100px;
    }
    
    .player {
        /* border: 2px solid rgb(144, 239, 12); */
        height: 270px;
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-block: 15px;
        color: aliceblue;

        h2 {
            margin: 0%;
            /* text-decoration: underline rgb(255, 255, 255); */
            color: #00ade6;
        }
        
        
        .ChoiceDiv {
            max-width: 40%;
            min-height: fit-content;
            max-height: fit-content;
            display: block;
            border-radius: 17px;
            /* margin: auto; */
            
            
            #PlayerChoice {
                border-radius: 17px;
                /* border:  2px solid rgb(5, 18, 251); */
                min-height: 120px;
                max-height: 120px;
                width: 80px;
                
            }
        }
        
        .linkedDots {
            display: flex;
            justify-content: space-between;
            /* border: solid 2px rgb(34, 0, 255); */
            /* margin-bottom: 20px; */
            width: 100%;
            
            :hover {
                cursor: pointer;
            }
            
            

            #pinkRock {
                /* border: solid 2px red; */
                display: flex;
                flex-direction: column;
                align-items: center;
                
                :hover {
                    color: #f94ed4;
                    cursor: pointer;
                }
                
                p {
                    padding: 0%;
                    margin: 0px;
                    color: white;
                    margin-top: 10px;
                }
                
                div {
                    height: 10px;
                    width: 10px;
                    border-radius: 50%;
                    background-color: #f94ed4;
                    border: solid #f94ed4;
                }
            }
            
            #bluePaper {
                /* border: solid 2px red; */
                display: flex;
                flex-direction: column;
                align-items: center;

                :hover {
                    color: #4343f0;
                    cursor: pointer;
                    /* text-decoration: underline #f94ed4; */
                }
                
                p {
                    padding: 0%;
                    margin: 0px;
                    color: white;
                    margin-top: 10px;
                }
                
                div {
                    height: 10px;
                    width: 10px;
                    border-radius: 50%;
                    background-color: #4343f0;
                    border: solid #4343f0;
                }
            }
            
            #yellowScissors {
                /* border: solid 2px red; */
                display: flex;
                flex-direction: column;
                align-items: center;
                
                :hover {
                    color: #dada37;
                    cursor: pointer;
                    /* text-decoration: underline white; */
                }
                
                p {
                    padding: 0%;
                    margin: 0px;
                    color: white;
                    margin-top: 10px;
                }
                
                div {
                    height: 10px;
                    width: 10px;
                    border-radius: 50%;
                    background-color: #dada37;
                    border: solid #dada37;
                }
            }
            
        }
        
    }
    
    .AI {
        /* display: block; */
        /* border: #4343f0 solid 2px; */
        height: 270px;
        width: 35%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-block: 15px;
        
        h2 {
            /* border: #4343f0 solid 2px; */
            background: url();
            margin: 0%;
            color: #00ade6;
            /* text-decoration: underline rgb(255, 255, 255); */
        }

        .ChoiceDiv {
            max-width: 40%;
            min-height: fit-content;
            max-height: fit-content;
            display: block;
            border-radius: 17px;
            /* margin: auto; */
            
            img {
                border-radius: 17px;
                /* border:  2px solid rgb(5, 18, 251); */
                min-height: 120px;
                max-height: 120px;
                width: 80px;
                
            }
        }
    }
}