body {
    margin: 0%;
    background-color: #dcecfa;
    display: grid;
    grid-template-rows: 100px 1fr;
    grid-template-columns: 80% 1fr;
    /* height: 100vh; */
}

h1 {
    /* border: 2px solid #d6d60be1; */
    text-align: center;
    grid-column: span 2;
    box-shadow: #0d729d 0px 3px 32px;
}

#library {
    /* border: 2px solid rebeccapurple; */
    padding: 10px;
    /* height: 80vh; */
    /* width: calc(100% - 330px); */
    display: grid;
    grid-template-columns: repeat(auto-fit, 160px);
    gap: 10px;
    /* margin: auto; */
    place-content: center;
    grid-column: 1/3;
    grid-row: 2/3;
    /* overflow-y: scroll; */
}

.container {
    display: grid;
    grid-template-columns: 81% 1fr;
    /* border: 2px solid rgb(255, 0, 123); */
    /* width: fit-content; */
    grid-column: 1 / 3;
    gap: 18px;
    padding-inline: 14px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;

    >div:first-of-type {
        /* background-color: rebeccapurple; */
        margin-bottom: 10px;
        display: flex;
        grid-column: span 2;
        justify-content: space-between;

        h3 {
            margin: 0%;
        }
        
        button {
            padding-block: 5px;
            padding-inline: 13px;
            background-color: #16acec;
            color: white;
            border-radius: 7px;
            font-size: medium;

        }
        
        button:hover {
            color: #16acec;
            background-color: white;
        }
    }
}

.card {
    /* border: 2px solid red; */
    width: 160px;
    padding-inline: 5px;
    border-radius: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    background-color: rgb(22, 172, 236);
    
    h2, h3 {
        margin: 0%;
        font-size: medium; 
        /* width: calc(-3px); */
        /* border: 2px solid red; */
        margin-top: 2px;
    }
    
    p {
        width: fit-content;
        margin: 0%;
    }
    
    h3 span{
        /* color: rgb(0, 255, 217); */
        font-style: oblique;
    }
}

/* ====================================== */
#addBook {
    padding-block: 10px;
    padding-inline: 10px;
    border-radius: 17px;
    height: 300px;
    /* background-color: white; */
    background-color: #16acec;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    /* display: none; */
    position: relative;
    left: 2000px;



    button {
        padding-block: 5px;
        padding-inline: 13px;
        width: 80px;
        margin: auto;
        background-color: rgb(22, 172, 236);
        color: white;
        border-radius: 7px;
        font-size: medium;
    }
    
    form {
        display: flex;
        flex-direction: column;
        
        label {
            margin-bottom: 2px;
        }
        
        input {
            margin-bottom: 16px;
            padding: 5px;
            height: 18px;
            border-radius: 8px;
        }
    }

    >div:first-of-type {
        /* border: 2px solid red; */
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        margin-bottom: 20px;
        
        b {
            width: fit-content;
        }
        img {
            /* border: 2px solid red; */
            width: 20px;
            display: block;
            /* background-color: white;
            fill: white; */
        }
    }
}



.motion {
    animation-name: motion;
    animation-duration: .3s;
    animation-iteration-count: 1;
    /* animation-direction: reverse; */
    animation-fill-mode: forwards;
}
.motionReverse {
    animation-name: motionReverse;
    animation-duration: .2s;
    animation-iteration-count: 1;
    animation-direction: reverse;
    animation-fill-mode: forwards;
}

@keyframes motion {
    from {
        transform: translateX(2000px);
    }

    to {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
        left: 0px;
    }
    
}

/* @keyframes libraryMotion {
    from {
        grid-column: 1 / 3;
    }
    to {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
    }
} */