:root {
    --column-row-count : 10;
    --column-size : 10%;
    --row-size : 100px;
}

body {
    border: 2px solid red;
    margin: 0px;
    height: 100vh;
    /* background-color: #00ffff; */
    max-height: fit-content;
}
.grid-container {
    width: 100%;
    border: 2px solid rebeccapurple;
    display: grid;
    grid-template-columns: repeat(var(--column-row-count), var(--column-size));
    grid-template-rows: repeat(var(--column-row-count), var(--row-size));

    .grid-item {
        /* width: 100px; */
        height: 100px;
        border: 2px solid red;
        background-color: rgb(0, 255, 85);
        /* border-radius: 8px; */
    }
}