body {
    display: block;
    /* display: flex;
    flex-direction: column; */
    /* justify-content: space-between; */
    align-items: center;
    /* gap: 8px; */
    /* height: 100vh; */
    overflow: hidden;
    border: 2px solid rgb(255, 0, 30);
    padding-bottom: 60px;
}

.playersList {
    margin: auto;
    margin-top: 30px;
}
.board {
    width: 96%;
    min-height: 405.2px;
    margin: auto;
    margin-top: 30px;
    /* height: 100px; */
    background-color: rgb(39, 3, 75);
    grid-template-columns: repeat(3, 33.3%);
    grid-template-rows: repeat(3, auto);
    border: 2px solid rgb(0, 255, 0);
    .cell {
        border: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 135.06px;
        max-height: 135.06px;
        
        p {
            /* border: 2px solid red; */
            font-size: 42px;
            text-align: center;
            margin: 0%;
        }
        
        
        
    }
    .player1 {
        /* border: 2px solid white; */
        color: rgb(0, 179, 255);
    }
    .player2 {
        /* text-align: center; */
        color: rgb(255, 0, 0);
    }
    
    .winner {
        background-color: rgb(255, 255, 255);
    }
}

.restart {
    margin: auto;
    margin-top: 30px;
}