body {
    margin: 0%;
    height: 100vh;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rebeccapurple;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid rgb(0, 17, 255); */
    margin: 0%;
    gap: 8px;
}
.title {
    margin: 0%;
    color: blue;
    /* border: 2px solid darkcyan; */
    text-align: center;
    font-size: 60px;

    .s1 {
        color: blue;
        margin-bottom: 10px;
        border-bottom: 2px solid red;
    }
    .s2 {
        color: white;
        margin-bottom: 10px;
        border-bottom: 2px solid white;
    }
    .s3 {
        color: red;
        margin-bottom: 10px;
        border-bottom: 2px solid blue;
    }
}

.playersList {
    /* border-bottom: 2px solid blue; */
    display: flex;
    justify-content: space-between;
    margin: 0%;
    width: 95%;
    color: rgb(255, 255, 255);
    
    h3 {
        margin: 0%;
    }

    #player1 {
        color: rgb(0, 179, 255);
    }
    #player2 {
        color: rgb(255, 0, 0);
    }
}

.colorMix{
    animation: normal;
    animation-name: colorMix;
    animation-duration: 3s;
    animation-iteration-count: 2;
}

.board {
    /* margin-top: 30px; */
    /* width: 50%; */
    max-width: 528.4px;
    min-height: 475.2px;
    height: fit-content;
    /* height: fit-content; */
    /* margin: auto; */
    display: grid;
    grid-template-columns: repeat(3, 176.1px);
    grid-template-rows: repeat(3, auto);
    border: 2px solid rgb(0, 255, 0);
    background-color: rgb(39, 3, 75);
    .cell {
        border: 1px solid rgb(128, 0, 255);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 158px;
        
        p {
            font-size: 50px;
        }
        
        
        
    }
    .player1 {
        /* border: 2px solid white; */
        color: #00b3ff;
        text-align: center;
    }
    .player2 {
        text-align: center;
        color: rgb(255, 0, 0);
    }
    
    .winner {
        background-color: rgb(255, 255, 255);
    }
}

.restart {
    background-color: white;
    padding-block: 5px;
    padding-inline: 8px;
    width: 100px;
    display: none;
}

footer {
    color: rgb(134, 241, 241);
    margin-top: 5px;

    p {
        margin: 0%;
        text-align: center;
    }
}

@keyframes colorMix {
    0% {
        color: blue;
    }
    50% {
        color: white;
    }
    100% {
        color: red;
    }
}