body {
    margin: 0%;
    background-color: rebeccapurple;
}
.title {
    margin: 0%;
    color: blue;
    border: 2px solid darkcyan;
    text-align: center;
    font-size: 60px;

    .s1 {
        color: blue;
    }
    .s2 {
        color: white;
    }
    .s3 {
        color: red;
    }
}

.playersList {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 95%;
    color: rgb(255, 255, 255);

    #player1 {
        color: rgb(0, 179, 255);
    }
    #player2 {
        color: rgb(255, 0, 0);
    }
}

.board {
    margin-top: 30px;
    /* width: 50%; */
    max-width: 528.4px;
    max-height: 483.2px;
    height: fit-content;
    height: fit-content;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 176.1px);
    grid-template-rows: repeat(3, auto);
    border: 2px solid rgb(0, 255, 0);
    .cell {
        border: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        
        p {
            font-size: 50px;
        }
        
        
        
    }
    .player1 {
        /* border: 2px solid white; */
        color: rgb(0, 179, 255);
        text-align: center;
        height: fit-content;
        margin: 0%;
    }
    .player2 {
        color: rgb(255, 0, 0);
    }
    
    .winner {
        background-color: rgb(255, 255, 255);
    }
}

